# Use this file only for keys, passwords an secrets

ENV='dev'
FIRE_CRAWL_API_KEY=''
AI_GATEWAY_API_KEY=''
OPEN_ROUTER_KEY=''
DATABASE_URL='mongodb+srv://'
HUGGING_FACE_TOKEN=''
WHISPER_MODEL_PATH=''

